@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background: #3395cb;
}
li {
  list-style-type: none;
  width: 100%;
}
#todo-title {
  font-family: "Poppins";
  font-size: 15px;
}
#box-todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#completed-box {
  width: 10px;
  height: 10px;
  border: 1px solid #aaa;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
#page {
  font-family: "Poppins";
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box {
  background-color: white;
  width: 400px;
  min-height: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding:20px;
}
#title {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 35px;
  color: #3395cb;
}
#subtitle {
  font-family: "Poppins";
  font-size: 13px;
  color: #3395cb;
}
#todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right:35px;
}
#toggleAdd {
  height: 30px;
  width: 150px;
  transition: .5s;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#toggleAdd:hover {
  height: 33px;
  width: 160px;
  background: #ededed;
}
.input {
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.button {
  height: 40px;
  padding-left: 10px;
  background-color: #3395cb;
  color: white;
  border-radius: 8px;
  transition: 2s;
  cursor: pointer;
  font-family: "Poppins";
  font-size:12px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border: 0;
}
.button:hover {
  background-color: #3395cb;
  opacity: 0.8;
  color: white;
  border-radius: 8px;
  transition: 2s;

}
#add-box {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.completed {
    color:green;
}
#actions{
  display:flex;
  gap:10px;
  justify-content:center;
  align-items:center;
}
.delete-button{
  background:rgb(131, 22, 22);
  font-size:12px;
  border-radius: 8px;
  color:white;
  border:0px;
  padding:3px;
  transition:0.5s;
  cursor: pointer;
}
.delete-button:hover{
  opacity: 0.8;
  transition:0.5s;
}
.blue-dot{
  width:5px;
  height:5px;
  border-radius:100%;
  background:#3395cb;
}
.line-through{
  text-decoration:line-through;
}